{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      {{ with .Params.office }}
      <div class="col-lg-5 col-sm-6 mb-5">
        <h2 class="font-weight-bold mb-4">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
        <ul class="list-unstyled contact-list">
          {{with .mobile}} <li class="mb-3"><a href="tel:{{ . }}"><i class="tf-ion-ios-telephone mr-2"></i>
              {{ . }}</a></li>{{ end }}
          {{with .email}} <li class="mb-3"><a href="mailto:{{ . }}"><i class="tf-ion-email mr-2"></i>{{ . }}</a></li>
          {{end }}
          {{with .location }} <li class="mb-3"><i class="tf-ion-ios-location mr-2"></i>{{ . }}
          </li>{{ end }}
        </ul>
      </div>
      {{ end }}
      <div class="col-lg-3 col-sm-6 mb-5">
        {{ with .Params.opening_hour }}
        <h2 class="font-weight-bold mb-4">{{ .title | markdownify }}</h2>
        <ul class="list-unstyled">
          {{ range .day_time }}
          <li class="mb-2">{{ . | markdownify }}</li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="font-weight-bold mb-4">{{ .Title | markdownify }}</h2>
        <form action="{{ site.Params.contact_form_action }}" method="POST" class="row">
          <div class="col-lg-6 mb-3">
            <input type="text" class="form-control mb-2" id="name" name="name" placeholder="Your Name">
          </div>
          <div class="col-lg-6 mb-3">
            <input type="email" class="form-control mb-2" id="email" name="email" placeholder="Your Email">
          </div>
          <div class="col-12 mb-3">
            <textarea name="message" id="message" class="form-control mb-2" placeholder="Your Message"></textarea>
          </div>
          <div class="col-12 text-right">
            <button type="button" onClick="submitToAPI(event)" class="btn btn-main btn-main-sm">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  function submitToAPI(e) {
       e.preventDefault();
       var URL = "https://o0ej1wdbtb.execute-api.us-east-2.amazonaws.com/contact-us";

            var Namere = /[A-Za-z]{1}[A-Za-z]/;

            if (!Namere.test($("#name").val())) {
                         alert ("Name can not less than 2 char");
                return;
            }

            if ($("#email").val()=="") {
                alert ("Please enter your email id");
                return;
            }

            var reeamil = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,6})?$/;

            if (!reeamil.test($("#email").val())) {
                alert ("Please enter valid email address");
                return;
            }

       var name = $("#name").val();
       var email = $("#email").val();
       var desc = $("#message").val();
       var data = {
          name : name,
          email : email,
          desc : desc
        };

       $.ajax({
         type: "POST",
         url : "https://o0ej1wdbtb.execute-api.us-east-2.amazonaws.com/contact-us",
         dataType: "json",
         crossDomain: "true",
         contentType: "application/json; charset=utf-8",
         data: JSON.stringify(data),
         
         success: function () {
           // clear form and show a success message
           alert("Successfull");
           document.getElementById("contact-form").reset();
       location.reload();
         },
         error: function () {
           // show an error message
           alert("UnSuccessfull");
         }});
     }
</script>

{{ end }}